<?xml version="1.0" standalone="yes" ?>
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->
<!-- This XML package displays products in a grid, with the number of columns determined by the 'Column Width' attribute of the entity.  -->
<!-- Sub-entities are also displayed at the top in a list or grid, depending on the 'ShowSubcatsInGrid' AppConfig. -->
<package version="2.1" displayname="Search Auto Complete" debug="false" allowengine="true">
	<query name="Products" rowElementName="Product">
		<sql>
			<![CDATA[
				if len(@SearchTerm) >= @MinSearchLength
				begin
					exec vortx_GetProductsByEntity
						@categoryID = @CatID,
						@sectionID = @SecID,
						@manufacturerID = @ManID,
						@distributorID = @DistID,
						@genreID = @GenreID,
						@vectorID = @VectorID,
						@CustomerLevelID = @CustLevelID,
						@affiliateID = @AffID,
						@ProductTypeID = 0, 
						@ViewType = 1,
						@pagenum = @pgnum,
						@pagesize = @PageSize,
						@searchstr = @SearchTerm,
						@StatsFirst = 0,
						@publishedonly = 1,
						@ExcludeKits = 0,
						@ExcludeSysProds = 0,
						@InventoryFilter = @InvFilter,
						@sortEntityName = @entityname,
						@CategoryIDs = @CategoryIDs,
						@SectionIDs = @SectionIDs,
						@ManufacturerIDs = @ManufacturerIDs,
						@DistributorIDs = @DistributorIDs,
						@GenreIDs = @GenreIDs,
						@VectorIDs = @VectorIDs,
						@sortby = @sortby,
						@EntityID = @EntityID,
						@CustomerID = @customerid,
						@storeID = @storeid
				end
			]]>
		</sql>
		<queryparam paramname="@CatID" paramtype="runtime" requestparamname="CatID" sqlDataType="int" defvalue="0"  validationpattern="" />
		<queryparam paramname="@PageSize" paramtype="request" requestparamname="pagesize" sqlDataType="int" defvalue="12"  validationpattern="" />
		<queryparam paramname="@SecID" paramtype="runtime" requestparamname="SecID" sqlDataType="int" defvalue="0"  validationpattern="" />
		<queryparam paramname="@ManID" paramtype="runtime" requestparamname="ManID" sqlDataType="int" defvalue="0"  validationpattern="" />
		<queryparam paramname="@DistID" paramtype="runtime" requestparamname="DistID" sqlDataType="int" defvalue="0"  validationpattern="" />
		<queryparam paramname="@GenreID" paramtype="runtime" requestparamname="GenreID" sqlDataType="int" defvalue="0"  validationpattern="" />
		<queryparam paramname="@VectorID" paramtype="runtime" requestparamname="VectorID" sqlDataType="int" defvalue="0"  validationpattern="" />
		<queryparam paramname="@CustLevelID" paramtype="runtime" requestparamname="CustomerLevelID" sqlDataType="int" defvalue="0"  validationpattern="" />
		<queryparam paramname="@AffID" paramtype="runtime" requestparamname="AffiliateID" sqlDataType="int" defvalue="0"  validationpattern="" />
		<queryparam paramname="@ProdTypeID" paramtype="runtime" requestparamname="ProductTypeFilterID" sqlDataType="int" defvalue="1"  validationpattern="" />
		<queryparam paramname="@pgnum" paramtype="request" requestparamname="pagenum" sqlDataType="int" defvalue="1"  validationpattern="" />
		<queryparam paramname="@sortby" paramtype="request" requestparamname="sortby" sqlDataType="varchar" defvalue="catviews"  validationpattern="" />
		<queryparam paramname="@InvFilter" paramtype="appconfig" requestparamname="HideProductsWithLessThanThisInventoryLevel" sqlDataType="int" defvalue="0"  validationpattern="" />
		<queryparam paramname="@entityname" paramtype="runtime" requestparamname="EntityName" sqlDataType="varchar" defvalue="Search"  validationpattern="" />
		<queryparam paramname="@SectionIDs" paramtype="request" requestparamname="section" sqlDataType="varchar" defvalue=""  validationpattern="^[0-9\-]*$" />
		<queryparam paramname="@CategoryIDs" paramtype="request" requestparamname="category" sqlDataType="varchar" defvalue=""  validationpattern="^[0-9\-]*$" />
		<queryparam paramname="@ManufacturerIDs" paramtype="request" requestparamname="manufacturer" sqlDataType="varchar" defvalue=""  validationpattern="^[0-9\-]*$" />
		<queryparam paramname="@DistributorIDs" paramtype="request" requestparamname="distributor" sqlDataType="varchar" defvalue=""  validationpattern="^[0-9\-]*$" />
		<queryparam paramname="@GenreIDs" paramtype="request" requestparamname="genre" sqlDataType="varchar" defvalue=""  validationpattern="^[0-9\-]*$" />
		<queryparam paramname="@VectorIDs" paramtype="request" requestparamname="vector" sqlDataType="varchar" defvalue=""  validationpattern="^[0-9\-]*$" />
		<queryparam paramname="@SearchTerm" paramtype="request" requestparamname="SearchTerm" sqlDataType="varchar" defvalue=""  validationpattern="" />
		<queryparam paramname="@EntityID" paramtype="runtime" requestparamname="EntityID" sqlDataType="int" defvalue="0"  validationpattern="^\d{1,9}$" />
		<queryparam paramname="@customerid" paramtype="system" requestparamname="CustomerID" sqlDataType="int" defvalue="0"  validationpattern="" />
		<queryparam paramname="@storeid" paramtype="runtime" requestparamname="StoreID" sqlDataType="int" defvalue="0"  validationpattern="" />
		<queryparam paramname="@MinSearchLength"	paramtype="appconfig"	requestparamname="DropSearch.MinSearchStringLength"						sqlDataType="int"		defvalue="3"      validationpattern="" />
	</query>

	<PackageTransform>

		<xsl:stylesheet version="1.0" 
						xmlns:xsl="http://www.w3.org/1999/XSL/Transform" 
						xmlns:aspdnsf="urn:aspdnsf" 
						exclude-result-prefixes="aspdnsf">
			
			<xsl:output method="text" encoding="UTF-8" media-type="text/plain" />

			<xsl:variable name="Quote">
				<xsl:text>"</xsl:text>
			</xsl:variable>
			<xsl:variable name="QuoteReplacement">
				<xsl:text>\"</xsl:text>
			</xsl:variable>
			
			<xsl:template match="/">
				<xsl:text>{</xsl:text>
					<xsl:text>"products": [</xsl:text>
						<xsl:apply-templates select="/root/Products/Product"  />
					<xsl:text>]</xsl:text>
				<xsl:text>}</xsl:text>
			</xsl:template>

			<xsl:template match="Product">
				<xsl:variable name="Name" select="aspdnsf:GetMLValue(Name)" />
				<xsl:variable name="ImageUrl" select="aspdnsf:ProductImageUrl(ProductID, ImageFileNameOverride, SKU, 'icon', 0)" />
				<xsl:variable name="SEAltText" select="aspdnsf:GetMLValue(SEAltText)" />
				<xsl:variable name="AltText">
					<xsl:choose>
						<xsl:when test="SEAltText=''">
							<xsl:value-of select="$Name" />
						</xsl:when>
						<xsl:otherwise>
							<xsl:value-of select="$SEAltText" />
						</xsl:otherwise>
					</xsl:choose>
				</xsl:variable>
				<xsl:variable name="Url" select="aspdnsf:ProductLink(ProductID, SEName, 0)" />

				<xsl:text>{</xsl:text>
				
				<xsl:text>"name": "</xsl:text>
				<xsl:value-of select="aspdnsf:StrReplace($Name, $Quote, $QuoteReplacement)" />
				<xsl:text>"</xsl:text>
				<xsl:text>,</xsl:text>

				<xsl:text>"url": "</xsl:text>
				<xsl:value-of select="$Url" />
				<xsl:text>"</xsl:text>
				<xsl:text>,</xsl:text>
				
				<xsl:text>"imageUrl": "</xsl:text>
				<xsl:value-of select="$ImageUrl" />
				<xsl:text>"</xsl:text>
				<xsl:text>,</xsl:text>

				<xsl:text>"altText": "</xsl:text>
				<xsl:value-of select="aspdnsf:StrReplace($AltText, $Quote, $QuoteReplacement)" />
				<xsl:text>"</xsl:text>
				
				<xsl:text>}</xsl:text>
				<xsl:if test="position() != last()">
					<xsl:text>,</xsl:text>
				</xsl:if>
			</xsl:template>

		</xsl:stylesheet>
	</PackageTransform>
</package>
