<?xml version="1.0" standalone="yes" ?>
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->
<package version="2.1" displayname="DropSearch Installer" debug="false" allowengine="true">
	<query name="InstallAppConfigs" rowElementName="AppConfigs" runif="install">
		<sql>
			<![CDATA[
				if not exists(select * from dbo.AppConfig where name = 'DropSearch.MinSearchStringLength')
					INSERT INTO AppConfig (SuperOnly,Name,GroupName,Description,ConfigValue, ValueType) 
					values(0,'DropSearch.MinSearchStringLength', 'DROPSEARCH','The minimum number of characters a user must type before the dropsearch begins searching', '3', 'integer')
				
				if not exists(select * from dbo.AppConfig where name = 'DropSearch.MaximumProductResults')
					INSERT INTO AppConfig (SuperOnly,Name,GroupName,Description,ConfigValue, ValueType) 
					values(0,'DropSearch.MaximumProductResults', 'DROPSEARCH','The maximum number of products to show in the dropdown', '5', 'integer')
				
				if not exists(select * from dbo.AppConfig where name = 'DropSearch.ShowImages')
					INSERT INTO AppConfig (SuperOnly,Name,GroupName,Description,ConfigValue, ValueType) 
					values(0,'DropSearch.ShowImages', 'DROPSEARCH','Set to true to enable product images in the dropdown', 'true', 'boolean')
				
				if not exists(select * from dbo.AppConfig where name = 'DropSearch.IsInstalled')
					INSERT INTO AppConfig (SuperOnly,Name,GroupName,Description,ConfigValue, ValueType) 
					values(0,'DropSearch.IsInstalled', 'DROPSEARCH','This is used for reference by the application only. Please do not change this value.', 'false', 'boolean')
			]]>
		</sql>
	</query>

	<query name="InstallStringResources" rowElementName="StringResources" runif="install">
		<sql>
			<![CDATA[

				IF (NOT EXISTS (SELECT Name FROM StringResource WHERE (Name='DropSearch.ViewAll' AND LocaleSetting='en-US')))
				begin
					INSERT INTO StringResource (Name, LocaleSetting, ConfigValue, Modified, CreatedOn)
					VALUES('DropSearch.ViewAll', 'en-US', 'View All &rsaquo;', 0, GETDATE())
				end
			]]>
		</sql>
	</query>

	<query name="InstallSetInstalled" rowElementName="SetInstalled" runif="install">
		<sql>
			<![CDATA[
				update appconfig set configvalue = 'true' where name = 'DropSearch.IsInstalled'
			]]>
		</sql>
	</query>

	<query name="CheckInstalled" rowElementName="Installed">
		<sql>
			<![CDATA[
				select top 1 ConfigValue from appconfig where name = 'DropSearch.IsInstalled'
			]]>
		</sql>
	</query>

	<PackageTransform>

		<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
			<xsl:output method="html" omit-xml-declaration="yes" />
			<xsl:template match="/">
				<h1>DropSearch Installation</h1>
				<xsl:choose>
					<xsl:when test="/root/CheckInstalled/Installed/ConfigValue = 'true'">
						<p>DropSearch installation is complete! </p>
						<p>Make sure to reset the cache in your admin console.</p>
					</xsl:when>
					<xsl:otherwise>
						<p>This page is used to install all of the database changes for DropSearch. It's a good idea to backup your database before proceeding.</p>
						<button class="btn btn-primary" onclick="location.href='?install=true'; return false;">Begin Installation</button>
					</xsl:otherwise>
				</xsl:choose>
			</xsl:template>

		</xsl:stylesheet>

	</PackageTransform>
	<SearchEngineSettings>
		<SectionTitle actionType="text">
			DropSearch Installer
		</SectionTitle>
	</SearchEngineSettings>
</package>
