<?xml version="1.0" standalone="yes" ?>
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->
<package version="2.1" displayname="DropSearch Form" debug="false">
	<PackageTransform>

		<xsl:stylesheet version="1.0" 
						xmlns:xsl="http://www.w3.org/1999/XSL/Transform" 
						xmlns:aspdnsf="urn:aspdnsf" 
						xmlns:msxsl="urn:schemas-microsoft-com:xslt"
						exclude-result-prefixes="aspdnsf msxsl">

			<xsl:output method="html" omit-xml-declaration="yes" />

			<xsl:template match="/">
				<form action="{aspdnsf:BuildRoute('index', 'search')}" class="drop-search js-drop-search" method="get">
					<div class="form-group search-form-group input-group">
						<input name="searchterm"
							   class="form-control form-control-inline search-box js-search-box"
							   placeholder="{aspdnsf:StringResource('search.prompt')}"
							   type="text"
							   autocomplete="off" />
						<div class="input-group-btn">
							<input value="{aspdnsf:StringResource('search.go')}" class="btn btn-default search-go" type="submit" />
						</div> 
					</div>
					<!--The DropSearch HTML template below gets processed client side by javascript-->
					<div class="drop-search-results js-drop-search-template off">
						<div class="drop-search-loading js-drop-search-loading">
							<div class="progress">
								<div class="progress-bar progress-bar-striped active" role="progressbar">
									<span class="sr-only">Loading...</span>
								</div>
							</div>
						</div>
						<div class="drop-search-product-results-area js-drop-search-product-area">
							<div class="drop-search-product-results js-drop-search-product-results">
								<div class="drop-search-product js-drop-search-repeating-item">
									<a class="drop-search-item-link clearfix" href="{'{{url}}'}">
										<xsl:if test="aspdnsf:AppConfigBool('DropSearch.ShowImages') = 'true'">
											<img class="media-object drop-search-image" data-src="{'{{imageUrl}}'}" alt="{'{{altText}}'}" />
										</xsl:if>
										<span class="drop-search-name">
											{{name}}
										</span>
									</a>
								</div>
							</div>
							<a class="drop-search-view-all js-drop-search-view-all" href="{aspdnsf:BuildRoute('index', 'search')}">
								<xsl:value-of select="aspdnsf:StringResource('dropsearch.viewall')" disable-output-escaping="yes" />
							</a>
						</div>
					</div>
					<!--End template-->
				</form>
				<script type="text/javascript" src="(!SkinPath!)/scripts/dropsearch.js"></script>

				<xsl:variable name="DataUrlRouteValues">
					<param name="name" value="dropsearchdata" />
					<param name="disableTemplate" value="true" />
				</xsl:variable>

				<script type="text/javascript" Language="JavaScript">
					$.dropSearch.initialize({
						dataUrl: '<xsl:value-of select="aspdnsf:BuildRoute('Detail', 'XmlPackage', msxsl:node-set($DataUrlRouteValues))" />',
						searchUrl: '<xsl:value-of select="aspdnsf:BuildRoute('Index', 'Search')" />',
						minimumSearchLength: <xsl:value-of select="aspdnsf:AppConfig('DropSearch.MinSearchStringLength')" />,
						resultCount: <xsl:value-of select="aspdnsf:AppConfig('DropSearch.MaximumProductResults')" />,
						searchBoxSelector: '.js-search-box',
						templateSelector: '.js-drop-search-template'
					});
				</script>
			</xsl:template>

		</xsl:stylesheet>
	</PackageTransform>
</package>
