<?xml version="1.0" standalone="yes" ?>
<package version="2.1" displayname="Simple Add To Cart" debug="false" includeentityhelper="false">
    <!-- ###################################################################################################### -->
    <!-- Copyright AspDotNetStorefront.com, 1995-2011.  All Rights Reserved.					                -->
    <!-- http://www.aspdotnetstorefront.com														                -->
    <!-- For details on this license please visit  the product homepage at the URL above.		                -->
    <!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
    <!--                                                                                                        -->
    <!-- ###################################################################################################### -->
    <query name="Products" rowElementName="Product">
        <sql>
            <![CDATA[
                select p.ProductID, p.IsAKit, p.IsAPack, pv.VariantID, pv.Colors, pv.Sizes, pv.IsDefault, pv.Inventory from product p 
                left join ProductVariant pv on pv.productid = p.productid
				where p.ProductID= @ProductID
				and pv.published = 1
				and pv.deleted = 0
            ]]>
        </sql>
        <queryparam paramname="@ProductID"       paramtype="runtime"   requestparamname="productid" sqlDataType="int"     defvalue="0"      validationpattern="" />
    </query>
    <PackageTransform>
        <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
            <xsl:output method="html" omit-xml-declaration="yes" />
            <xsl:param name="DetailsOnly" select="/root/Runtime/detailsonly = 'true'" />
            <xsl:template match="/">
                <xsl:apply-templates select="/root/Products/Product[IsDefault = 1]" />
				<script>
					<![CDATA[
						function quickAddToCart(pid) {
							var qtyBox = document.getElementById('Quantity_' + pid);
							var qty = 1;
							if(qtyBox){
								try {
									if (qtyBox.value > 0) {
										qty = qtyBox.value;
									}
								}
								catch (err) {
									alert("please enter a valid quantity");
									return false;
								}
							}						
							var url = "addtocart.aspx?productid=" + pid + "&quantity=" + qty;
							window.location.href = url;
							return false;
						}
						function quickAddToWishlist(pid) {
							var qtyBox = document.getElementById('Quantity_' + pid);
							var qty = 1;
							if(qtyBox){
								try {
									if (qtyBox.value > 0) {
										qty = qtyBox.value;
									}
								}
								catch (err) {
									alert("please enter a valid quantity");
									return false;
								}
							}						
							var url = "addtocart.aspx?productid=" + pid + "&quantity=" + qty + "&IsWishList=" + 1;
							window.location.href = url;
							return false;
						}
					]]>
				</script>
            </xsl:template>
            <xsl:template match="Product">
                <xsl:param name="pURL" select="aspdnsf:ProductLink(ProductID, SEName, 0)" />
                <xsl:param name="isSimpleProduct" select="IsAKit = 0 and IsAPack = 0 and string-length(Colors) = 0 and string-length(Sizes) = 0 and count(/root/Products/Product) = 1" />
                <xsl:param name="pID" select="ProductID" />
				<xsl:param name="stockThreshold" select="aspdnsf:AppConfig('OutOfStockThreshold')" />
				<xsl:param name="hideTheCartFormBecauseOutOfStock" select="Inventory &lt; $stockThreshold" />				
                <xsl:choose>
                    <xsl:when test="$isSimpleProduct and not($DetailsOnly) and not($hideTheCartFormBecauseOutOfStock)">
                        <span class="add-to-cart-quantity">
							<label class="quantity-label" for="Quantity_{ProductID}">Quantity:</label><value xml:space="preserve"> </value>
							<input type="text" name="Quantity_{ProductID}" id="Quantity_{ProductID}" class="form-control quantity-field" value="1" maxlength="4"/>
                        </span>
						<value xml:space="preserve"> </value>
                        <span class="add-to-cart-buttons">
                            <input type="button" class="button call-to-action add-to-cart-button" onclick="return quickAddToCart({ProductID});" value="{aspdnsf:StringResource('AppConfig.CartButtonPrompt')}" />
							<xsl:if test="aspdnsf:AppConfigBool('ShowWishButtons') = 'true'">
								<input type="button" class="button add-to-wishlist-button" onclick="return quickAddToWishlist({ProductID});" value="{aspdnsf:StringResource('AppConfig.WishButtonPrompt')}"/>
							</xsl:if>
                        </span>
                    </xsl:when>
                    <xsl:otherwise>
						<input type="button" class="button call-to-action add-to-cart-button" onclick="window.location.href = '{$pURL}';" value="Details" />                        
                    </xsl:otherwise>
                </xsl:choose>
            </xsl:template>
        </xsl:stylesheet>
    </PackageTransform>
</package>